@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *:focus {
        outline: none;
    }
}

@layer utilities {
    .picture-shadow {
        filter: drop-shadow(2px 4px 3px #00000044);
        display: block;
    }    
}

html, body, #root {
    height: 100%;
}


.expand-collapse {
    opacity: 0;    
    max-height: 0;
}
.expand-enter {
    opacity: 0;    
    max-height: 0;
}
.expand-enter-done {
    opacity: 1;   
    max-height: 1000px; 
    transition: all 0.4s ease;
}
.expand-exit {
    opacity: 1; 
    max-height: 1000px;    
}
.expand-exit-done {
    opacity: 0;    
    max-height: 0; 
    transition: all 0.5s ease;
}

.toggle-saved-enter button {
    transform: scale(1);
    opacity: 1;
}
.toggle-saved-enter-active button {
    transform: scale(1);
    opacity: 1;
}
.toggle-saved-exit button {    
    transform: scale(1);
    opacity: 1;
}
.toggle-saved-exit-active button {
    transform: scale(1.2);
    opacity: 0;
}
.toggle-saved-enter-active button,
.toggle-saved-exit-active button {
    transition: opacity 500ms, transform 300ms;
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(239, 68, 68);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(239, 68, 68) transparent transparent transparent;
}
.loader div:nth-child(1) {
    animation-delay: -0.45s;
}
.loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.loader div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}